.stepWrapper {
  display: flex;
}

.step {
  color: var(--maincolor);
  flex: 33% 0 1;
  padding: 1rem;
  cursor: none;
}

.currentStep {
  color: var(--mainbg);
  background-color: var(--hovercolor);
}
